# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build outputs
build/
dist/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdatad

# Editor directories
.idea/
.vscode/

# Expo
.expo/
*.jks
*.p12
*.keystore
